.new-tweet {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.new-tweet button {
  border: none;
  font-size: medium;
  font-family: "Bungee";
  background-color: #4056A1;
  color: #FFFFFF;
}

.counter {
  font-size: medium;
  font-family: 'Bungee';
  display: flex;
  justify-content: right;
  flex-direction: row;
}

textarea {
  border: none;
  border-bottom: 3px solid black;
  background-color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-top: 5px;
  height: 30px;
  width: 100%;
}

.submit-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* Red counter when more than 140 character */
.negative-count {
  color: red;
}